
.sizing-content-example {
    width: auto;
    height: auto;
    background-color: #E8E8E8;
    border-radius: 5px;
    padding: 6px;
    display: inline-block;
}

.sizing-code-example {
    width: 1300px;
    height: auto;
    background-color: #F8F8F8;
    border-radius: 5px;
    padding: 6px;
    display: inline-block;
    border: 2px solid gray;
}

ol {
    list-style: none;
    }
    li {
    counter-increment: item;
    margin-bottom: 5px;
    }
    li:before {
    margin-right: 10px;
    content: counter(item);
    background: #0000ff;;
    border-radius: 100%;
    color: white;
    width: 1.2em;
    text-align: center;
    display: inline-block;
    }      
